In [2]:
import pandas as pd

In [3]:
import zipfile

In [4]:
import pymysql

In [5]:
pip install opendatasets

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: opendatasets in c:\users\dell\appdata\roaming\python\python313\site-packages (0.1.22)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from opendatasets) (4.67.1)
Requirement already satisfied: kaggle in c:\users\dell\appdata\roaming\python\python313\site-packages (from opendatasets) (2.0.0)
Requirement already satisfied: click in c:\programdata\anaconda3\lib\site-packages (from opendatasets) (8.2.1)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click->opendatasets) (0.4.6)
Requirement already satisfied: bleach in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (6.3.0)
Requirement already satisfied: kagglesdk<1.0,>=0.1.15 in c:\users\dell\appdata\roaming\python\python313\site-packages (from kaggle->opendatasets) (0.1.15)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (25.0)
Requirement already satisfied: protobuf in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (5.29.3)
Requirement already satisfied: python-dateutil in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.9.0.post0)
Requirement already satisfied: python-slugify in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (8.0.4)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.32.5)
Requirement already satisfied: urllib3>=1.15.1 in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.5.0)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil->kaggle->opendatasets) (1.17.0)
Requirement already satisfied: text-unidecode>=1.3 in c:\programdata\anaconda3\lib\site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (3.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (2025.11.12)
Note: you may need to restart the kernel to use updated packages.

In [7]:
dataset_url="https://www.kaggle.com/datasets/prashantk93/supply-chain-management-for-car"

In [8]:
import os

In [1]:
import pandas as pd

df = pd.read_csv("../data/raw/supply_chain_final.csv")

df.head()

,SupplierID,SupplierAddress,SupplierName,SupplierContactDetails,ProductID,CarMaker,CarModel,CarColor,CarModelYear,CarPrice,...,ShipDate,ShipMode,Shipping,PostalCode,Sales,Quantity,Discount,CreditCardType,CreditCard,CustomerFeedback
0,1,542 Dayton Center,Bubbletube,871-57-6028,8893,Dodge,Ram 2500,Goldenrod,2007,521963.45,...,2019/03/14,Standard Class,Truck,99522,744796.41,1,0.83,diners-club-carte-blanche,30408016042565,Bad
1,2,0674 Springview Circle,Tagopia,337-64-4060,9444,Toyota,Tundra,Crimson,2010,672222.04,...,2019/03/06,Standard Class,Truck,56398,794773.17,1,0.79,jcb,3549221112237767,Good
2,3,70 Autumn Leaf Center,Zoomdog,218-19-1802,253,GMC,Savana 1500,Crimson,2011,504465.72,...,2019/01/20,Second Class,Air,60674,968244.90,1,0.28,jcb,3557159608180902,Okay
3,4,649 Corben Lane,Oozz,635-15-3112,1283,Volkswagen,Cabriolet,Fuscia,1990,646077.11,...,2019/03/16,First Class,Truck,32885,942213.82,2,0.76,jcb,3529909223663921,Very Bad
4,5,94 Namekagon Point,Kare,849-23-6788,8905,Mercury,Mariner,Teal,2009,699890.24,...,2019/01/29,Second Class,Air,48232,879519.57,1,0.50,china-unionpay,5602235978541517,Bad

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 33 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   SupplierID              1000 non-null   int64
 1   SupplierAddress         1000 non-null   object
 2   SupplierName            1000 non-null   object
 3   SupplierContactDetails  1000 non-null   object
 4   ProductID               1000 non-null   int64
 5   CarMaker                1000 non-null   object
 6   CarModel                1000 non-null   object
 7   CarColor                1000 non-null   object
 8   CarModelYear            1000 non-null   int64
 9   CarPrice                1000 non-null   float64
 10  CustomerID              1000 non-null   object
 11  CustomerName            1000 non-null   object
 12  Gender                  1000 non-null   object
 13  JobTitle                1000 non-null   object
 14  PhoneNumber             1000 non-null   object
 15  EmailAddress            1000 non-null   object
 16  City                    1000 non-null   object
 17  Country                 1000 non-null   object
 18  CountryCode             1000 non-null   object
 19  State                   1000 non-null   object
 20  CustomerAddress         1000 non-null   object
 21  OrderDate               1000 non-null   object
 22  OrderID                 1000 non-null   object
 23  ShipDate                1000 non-null   object
 24  ShipMode                1000 non-null   object
 25  Shipping                1000 non-null   object
 26  PostalCode              1000 non-null   int64
 27  Sales                   1000 non-null   float64
 28  Quantity                1000 non-null   int64
 29  Discount                1000 non-null   float64
 30  CreditCardType          1000 non-null   object
 31  CreditCard              1000 non-null   int64
 32  CustomerFeedback        1000 non-null   object
dtypes: float64(3), int64(6), object(24)
memory usage: 257.9+ KB

In [10]:
myconnection = pymysql.connect(host ='localhost',user='root',password='12345',database='car_supply_chain')

In [11]:
cur=myconnection.cursor()

In [12]:
# check the no.of columns in the dataframe
num_cols = len(df.columns)

In [13]:
# generate a string with the same no. of placeholders as the no. of columns
placeholders = ','.join(['%s']*num_cols)

In [14]:
# create a new table into the database and insert the data
cur.execute("create table if not exists cars (SupplierID text, SupplierAddress text, SupplierName text, SupplierContactDetails text, ProductID text, CarMaker text, CarModel text, CarColor text, CarModelYear text, CarPrice text, CustomerID text, CustomerName text, Gender text, JobTitle text, PhoneNumber text, EmailAddress text, City text, Country text, CountryCode text, State text, CustomerAddress text, OrderDate text, OrderID text, ShipDate text, ShipMode text, Shipping text, PostalCode text, Sales text, Quantity text, Discount text, CreditCardType text, CreditCard text, CustomerFeedback text)")

0

In [15]:
sql = "insert into cars values ({})".format(placeholders)

In [16]:
for i in range (len(df)):
    cur.execute(sql,tuple(df.iloc[i]))
    myconnection.commit()